<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewers site</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
</head>
<body>
    <section class="header">
        <nav>
            <a href="index.html">CHESSMAN</a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT US</a></li>
                    <li><a href="">TRENDS</a></li>
                    <li><a href="">BLOG</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>

        <div class="text-box">
            <h1>CONQUEST</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br>Quasi dicta architecto dignissimos qui? Rerum cum, <br>quod quaerat pariatur beatae dignissimos amet ex ipsa recusandae aliquam nostrum dolorem mollitia! Qui, vero.</p>
            <a href="" class="hero-btn">Vist Us To Know More</a>
        </div>
    </section>


    <!------ Trends------>
    <section class="trends">
        <h1>Latest most thrilling trends</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="row">
            <div class="trends-col">
                <h3>Exclusive</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    <br>Debitis voluptatum, facere pariatur voluptatem expedita cum veniam ab 
                    <br> inventore consectetur delectus ipsam autem voluptatibus vitae eaque dolorum corrupti hic 
                    <br>enim dolores.
                </p>
            </div>
            <div class="trends-col">
                <h3>International</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    <br>Debitis voluptatum, facere pariatur voluptatem expedita cum veniam ab 
                    <br> inventore consectetur delectus ipsam autem voluptatibus vitae eaque dolorum corrupti hic 
                    <br>enim dolores.
                </p>
            </div>
            <div class="trends-col">
                <h3>Local</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    <br>Debitis voluptatum, facere pariatur voluptatem expedita cum veniam ab 
                    <br> inventore consectetur delectus ipsam autem voluptatibus vitae eaque dolorum corrupti hic 
                    <br>enim dolores.
                </p>
            </div>
        </div>
    </section>


    <!------- Broadcast ------->
    <section class="broadcast">
        <h1>Our Global Broadcast</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="row">
            <div class="broadcast-col">
                <img src="download (7).jpg">
                <div class="layer">
                    <h3>WULENSI</h3>
                </div>
            </div>
            <div class="broadcast-col">
                <img src="download (7).jpg">
                <div class="layer">
                    <h3>SAVELUGU</h3>
                </div>
            </div>
            <div class="broadcast-col">
                <img src="download (7).jpg">
                <div class="layer">
                    <h3>YENDI</h3>
                </div>
            </div>
        </div>
    </section>


    <!-------- Contents -------->
    <section class="contents">
        <h1>Our Contents</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="row">
            <div class="contents-col">
                <img src="download (7).jpg">
                <h3>WORLD CLASS CONTENTS</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Iste ratione recusandae quaerat fuga earum, dolorum deserunt laboriosam dicta nisi. <br> Commodi necessitatibus, odio sequi distinctio maxime dicta quasi magni doloremque eius.</p>
            </div>
            <div class="contents-col">
                <img src="download (7).jpg">
                <h3>HOT HEADLINES</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Iste ratione recusandae quaerat fuga earum, dolorum deserunt laboriosam dicta nisi. <br> Commodi necessitatibus, odio sequi distinctio maxime dicta quasi magni doloremque eius.</p>
            </div>
            <div class="contents-col">
                <img src="download (7).jpg">
                <h3>World class Contents</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Iste ratione recusandae quaerat fuga earum, dolorum deserunt laboriosam dicta nisi. <br> Commodi necessitatibus, odio sequi distinctio maxime dicta quasi magni doloremque eius.</p>
            </div>
        </div>
    </section>


    <!------- Testimonials ------->
    <section class="testimonials">
        <h1>WHAT OUR VIEWERS SAY</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="row">
            <div class="testimonials-col">
                <img src="download (7).jpg">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore pariatur, quod molestias magni omnis doloribus quisquam corrupti eius tenetur dignissimos amet deserunt nihil incidunt iusto earum id minus et inventore!</p>
                    <h3> NURA </h3>
                </div>
            </div>
            <div class="testimonials-col">
                <img src="download (7).jpg">
                <div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> Tempore pariatur, quod molestias magni omnis <br>doloribus quisquam corrupti eius tenetur dignissimos amet</p>
                    <h3> NAJAT ALHASSAN </h3>
                </div>
            </div>
        </div>

    </section>


    <section class="footer">
        <div class="about-us">
            <h1> ABOUT US </h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Illum mollitia optio quae officiis rerum explicabo ullam facere voluptatem totam. <br> Accusamus exercitationem optio, cum eos soluta excepturi! Distinctio assumenda debitis fuga!</p>
            <div class="icon">
                <h2> FOLLOW US ON</h2>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-youtube"></i>
                <i class="fa fa-linkedin"></i>
            </div>
        </div>
    </section>

    <section class="copyright">
        <p> <i class="fa fa-copyright"></i>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </section>
    
    <!------JavaScript for Toggle Menu------>
    <script>
        window.confirm("Are you sure you will continue ?")
        var navLinks = document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right = "0";
        }
        function hideMenu(){
            navLinks.style.right = "-200px"
        }



    </script>

</body>
</html>